<!DOCTYPE html>
<html>
<footer class="footer">
    <ul>
        <li><a href="https://www.youtube.com/channel/UCodgDXNHWQh7B78UmKUwM_Q"><img class="linkimage" src="images/youtube.png" alt="Youtube logo"></a></li>
        <li><a href="https://www.facebook.com/alexander.lars.98/"><img class="linkimage" src="images/facebook.png" alt="Facebook logo"></a></li>
        <li><a href="https://www.instagram.com/alexander_soerensen/"><img class="linkimage" src="images/instagram.png" alt="Instagram logo"></a></li>
    </ul>
    <small class="copyright">&copy; Copyright 2021, Alexander Soerensen</small>
</footer>
</html>