<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(pagetitle='About', stylesheet='styles/aboutStyle.css')"></head>
<body>
<header th:replace="fragments/header.html(headerText='Meet the Dragons', stylesheet='aboutStyle.css')"></header>
<section class="bio">
    <h2>Stormy</h2>
    <span class="image-and-disc">
        <img class="image" src="images/storm.jpg" alt="Stormy in a very emtion-filled picture">
        <p class="image-description">Stormy with lots of feel</p>
        </span>
    <p>Paragraph about Stormy</p>
</section>
<section class="bio">
    <h2>Damkær</h2>
    <span class="image-and-disc">
        <img class="image" src="images/damkaer.jpg" alt="Damkær being a cool">
        <p class="image-description">Damkær being cool</p>
            </span>
    <p>Paragraph about Damkær</p>
</section>
<section class="bio">
    <h2>Daniel Otto</h2>
    <span class="image-and-disc">
        <img class="image" src="images/daniel.png" alt="Daniel playing guitar">
        <p class="image-description">Daniel playing an acoustic guitar</p>
        </span>
    <p>Dan has been in love with music from a young age. At age 9, he began playing the viola and has had a love for all
        string instruments ever since.
        He continued his viola performance and music studies into his undergraduate degree, but not before his greater
        love for music made him broaden
        his instrumental horizons, picking up the guitar and drums.
        <br>
        His musical influences vary as greatly as the music he listens to. Everything from classic rock, to surf, to
        pop, to punk, to hip hop is fair game.
        It’s quite hard to find a genre in which Dan cannot find music to like. An avid Streetlight Manifesto fan, ska
        punk has always had a huge impact
        on him musically. Other musical influences include The Smashing Pumpkins, The Strokes, Brand New, Blink-182,
        Radiohead, LCD Soundsystem, PUP,
        FIDLAR, Sublime, Linkin Park, and more.
        <br>
        Dan’s primary concern is to make music that the audience can feel involved with. If Dan writes a song and feels
        like nobody can move around, dance,
        and sing along to it, that song goes into the scrap pile to get reworked.</p>
</section>
<section class="bio">
    <h2>Alek</h2>
    <span class="image-and-disc">
            <img class="image" src="images/madAlek.jpg" alt="Alek looking high">
            <p class="image-description">Alek seen with his Höfner bass and weird face</p>
        </span>
    <p>Alexander Soerensen, or simply Alek as prefered, is the bands bass-player, social-media responsible and overall
        nerd.
        <br>As a young boy, he fell in love with lots of different bands, such as The Beatles, Greenday, Rolling stones
        and Muse.
        Being inspired, Alek wanted to take guitar-lessons, but his parents insisted that he should learn to play the
        piano instead.
        After two years of playing the piano without improvements and lack of motivation, Alek finally was allowed to
        take guitar-lessons.
        After playing for a couple of years, Alek eventually bought himself a low-budget Fender P-bass. Initially, not
        much effort was
        put into the instrument, but after a couple of years Alek started practising and built up a decent amount of
        skills on the bass.
        He played at a couple different occasions, but it was first when he joined "here be dragons!" that he really
        focused on the bass.</p>
</section>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>