body{
    background-color: black;
    background-image: url("../images/world.jpg");
    background-position: top;
    background-size: 1920px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    color: lightcoral;
    font-size: 25px;
    font-weight: bold;
    font-palette: dark;
    font-family: "Yu Gothic";
}











