body {
    background-color: black;
    background-image: url("../images/work2.jpg");
    background-position: top;
    background-size: 1980px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}